<h1>登入</h1>

<% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<%= form_for(@user, url: sign_in_sessions_path) do |form| %>

<div class="container">
    <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email %>
    </div>
    
    <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password %>
    </div>

</div>

<%= form.submit '登入' %>

<% end %>