</br>
<% if user_sign_in? %>
  <%= current_user_email %> | 登出
  <%= link_to '登出', sign_out_session_path, method="delete" %>
<% else %>
  <%= link_to '註冊', sign_up_users_path %>
  <%= link_to '登入', sign_in_sessions_path %>
<% end %>



<h1>餐廳列表</h1>

<%= link_to '新增餐廳', new_restaurant_path %>
</br>
<%= link_to '註冊帳號', sign_up_users_path %>


<table>
  <thead>
    <tr>
      <td>投票</td>
      <td>餐廳名稱</td>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to '投票', vote_restaurant_path(restaurant), method: 'post', data: {confirm: '確定投票?'}%></td>
      <td><%= restaurant.title %></td>
      <td><%= link_to '詳細資料', restaurant_path(restaurant) %></td>
      <td><%= link_to '編輯', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to '刪除', restaurant_path(restaurant), method: 'delete', data: {confirm: '確定刪除?'}  %></td>
    </tr>
    <% end %>
  </tbody>
</table>


