<h1>餐廳列表</h1>

<%= link_to '新增餐廳', new_restaurant_path %>


<table>
  <thead>
    <tr>
      <td>投票</td>
      <td>餐廳名稱</td>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to '投票', vote_restaurant_path(restaurant) %></td>
      <td><%= restaurant.title %></td>
      <td><%= link_to '詳細資料', restaurant_path(restaurant) %></td>
      <td><%= link_to '編輯', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to '刪除', restaurant_path(restaurant), method: 'delete', data: {confirm: '確定刪除?'}  %></td>
    </tr>
    <% end %>
  </tbody>
</table>



